.search {
	display: flex;
	gap: 8px;
	align-items: center;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: #efefef;
}

.input {
	border: none;
	outline: none;
	background: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.input::placeholder {
	color: #707070;
}
