.wrapper {
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 0 0 13px 0;
	border-bottom: 1px solid #000000;
}

.button {
	cursor: pointer;
	border: none;
	padding: 0;
	background: none;
}

@media (max-width: 1200px) {
	.wrapper {
		padding: 0 0 4px 0;
	}
}
